<html>
  <body>
    <h4 style="margin-top: 2rem"><b>Les demandes</b></h4>

    <!-- Filter Container -->
    <div class="d-flex justify-content-center mt-3 filter-container">
      <div class="btn-group" role="group">
        <input
          type="radio"
          class="btn-check"
          name="filter"
          id="all"
          autocomplete="off"
          checked
        />
        <label class="btn custom-btn" for="all">all</label>

        <input
          type="radio"
          class="btn-check"
          name="filter"
          id="validated"
          autocomplete="off"
        />
        <label class="btn custom-btn" for="validated">validated</label>

        <input
          type="radio"
          class="btn-check"
          name="filter"
          id="unvalidated"
          autocomplete="off"
        />
        <label class="btn custom-btn" for="unvalidated">Unvalidated</label>

        <input
          type="radio"
          class="btn-check"
          name="filter"
          id="oldestToLatest"
          autocomplete="off"
        />
        <label class="btn custom-btn" for="oldestToLatest"
          >Oldest to Latest</label
        >

        <input
          type="radio"
          class="btn-check"
          name="filter"
          id="latestToOldest"
          autocomplete="off"
        />
        <label class="btn custom-btn" for="latestToOldest"
          >Latest to Oldest</label
        >
      </div>
    </div>

    <!-- Card Container -->
    <div class="container mt-4">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="card-demande">
            <div class="container-demande">
              <h5><b>Demande de congès</b></h5>
              <p>Ahmed Lakhdher</p>
              <p>12/05/2023</p>
              <button class="btn btn-outline-danger" (click)="goToDemande()">
                Lire plus
              </button>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="card-demande">
            <div class="container-demande">
              <h5><b>Demande de congès</b></h5>
              <p>Ahmed Lakhdher</p>
              <p>12/05/2023</p>
              <button class="btn btn-outline-danger" (click)="goToDemande()">
                Lire plus
              </button>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="card-demande">
            <div class="container-demande">
              <h5><b>Demande de congès</b></h5>
              <p>Ahmed Lakhdher</p>
              <p>12/05/2023</p>
              <button class="btn btn-outline-danger" (click)="goToDemande()">
                Lire plus
              </button>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="card-demande">
            <div class="container-demande">
              <h5><b>Demande de congès</b></h5>
              <p>Ahmed Lakhdher</p>
              <p>12/05/2023</p>
              <button class="btn btn-outline-danger" (click)="goToDemande()">
                Lire plus
              </button>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="card-demande">
            <div class="container-demande">
              <h5><b>Demande de congès</b></h5>
              <p>Ahmed Lakhdher</p>
              <p>12/05/2023</p>
              <button class="btn btn-outline-danger" (click)="goToDemande()">
                Lire plus
              </button>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-6 d-flex justify-content-center">
          <div class="card-demande">
            <div class="container-demande">
              <h5><b>Demande de congès</b></h5>
              <p>Ahmed Lakhdher</p>
              <p>12/05/2023</p>
              <button class="btn btn-outline-danger" (click)="goToDemande()">
                Lire plus
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
