<html>
  <body>
    <h4 style="margin-top: 2rem;"><b>Overview</b></h4>
    <div class="containerr">
      <div class="card-overview">
        <div class="container-demande">
          <h6>Nombre de demandes</h6>
          <h4><b>50</b></h4>
        </div>
      </div>
      <div class="card-overview">
        <div class="container-demande">
          <h6>Nombre de demandes</h6>
          <h4><b>50</b></h4>
        </div>
      </div>
      <div class="card-overview">
        <div class="container-demande">
          <h6>Nombre de demandes</h6>
          <h4><b>50</b></h4>
        </div>
      </div>
      <div class="card-overview">
        <div class="container-demande">
          <h6>Nombre de demandes</h6>
          <h4><b>50</b></h4>
        </div>
      </div>
    </div>

    <h4><b>Les Demandes</b></h4>
    <div class="card-demande">
      <div class="container-demande">
        <h5><b>Demande de congès</b></h5>
        <p>Ahmed Lakhdher</p>
        <p>12/05/2023</p>
        <button class="btn btn-outline-danger" (click)="goToDemande()">Lire plus</button>
      </div>
    </div>

    <div class="card-demande">
      <div class="container-demande">
        <h5><b>Demande de congès</b></h5>
        <p>Ahmed Lakhdher</p>
        <p>12/05/2023</p>
        <button class="btn btn-outline-danger" (click)="goToDemande()">Lire plus</button>
      </div>
    </div>
    
  </body>
</html>
