* {
  font-family: Nunito, sans-serif;
}

body{
    margin-left: 5rem;
}

.card-demande {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.068);
    border: 0.25px solid rgba(0, 0, 0, 0.244);
    transition: 0.3s;
    width: 40%;
    margin: 2rem;
    border-radius: 1rem;
  }

  .card-overview {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.068);
    background-color: #E3F5FF;
    transition: 0.3s;
    width: 40%;
    margin-right: 2rem;
    border-radius: 1rem;
  }
  
  .card-demande:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .card-overview:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .container-demande {
    margin: 2rem
  }
  
  .containerr {
    display: flex;
    justify-content: space-between; /* or use `space-around` or `space-evenly` depending on the spacing you want */
    margin: 2rem;
  }
  
  .btn {
    margin-bottom: 1rem;

  }